 <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Test suite" verbose="1">
	<test name="Sample Test">	
		<packages>
		 <package name="testngannotationsequence"/>
		</packages>
		
	</test>
</suite>
 


 
<!-- <suite name="Suite" parallel="methods" thread-count="2">
  <test name="Test 1">
    <classes>
      <class name="testngannotationsequence.AnnotationsTest"/>
      
    </classes>
  </test>
</suite>
 -->  